# Phase 1 - Data Cleaning

## Step 1.1 Importing the Libraries

In [36]:
import pandas as pd
import numpy as np

## Step 1.2 Loading the data

In [37]:
df = pd.read_csv("data/raw_amazon_saas_sales.csv")

In [38]:
df.head()

,Row ID,Order ID,Order Date,Date Key,Contact Name,Country,City,Region,Subregion,Customer,Customer ID,Industry,Segment,Product,License,Sales,Quantity,Discount,Profit
0,1,EMEA-2022-152156,11/9/2022,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,Marketing Suite,16GRM07R1K,261.9600,2,0.00,41.9136
1,2,EMEA-2022-152156,11/9/2022,20221109,Nathan Bell,Ireland,Dublin,EMEA,UKIR,Chevron,1017,Energy,SMB,FinanceHub,QLIW57KZUV,731.9400,3,0.00,219.5820
2,3,AMER-2022-138688,6/13/2022,20220613,Deirdre Bailey,United States,New York City,AMER,NAMER,Phillips 66,1056,Energy,Strategic,FinanceHub,JI6BVL70HQ,14.6200,2,0.00,6.8714
3,4,EMEA-2021-108966,10/11/2021,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,ContactMatcher,DE9GJKGD44,957.5775,5,0.45,-383.0310
4,5,EMEA-2021-108966,10/11/2021,20211011,Zoe Hodges,Germany,Stuttgart,EMEA,EU-WEST,Royal Dutch Shell,1031,Energy,SMB,Marketing Suite - Gold,OIF7NY23WD,22.3680,2,0.20,2.5164

## Step 1.3 Converting the Date columns
### Here the dataset has:
- Order Date
- Date Key (YYYYMMDD)

In [39]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

## Step 1.4 Creating order_month
### We need monthly revenue, not daily.

In [40]:
df['order_month'] = df['Order Date'].dt.to_period('M').dt.to_timestamp()

## Step 1.5 Selecting only the useful columns

In [41]:
df = df[
    [
        'Customer ID',
        'Customer',
        'order_month',
        'Region',
        'Segment',
        'Industry',
        'Product',
        'Sales'
    ]
]

In [42]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  9994 non-null   int64
 1   Customer     9994 non-null   object
 2   order_month  9994 non-null   datetime64[ns]
 3   Region       9994 non-null   object
 4   Segment      9994 non-null   object
 5   Industry     9994 non-null   object
 6   Product      9994 non-null   object
 7   Sales        9994 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 624.8+ KB

,Customer ID,Customer,order_month,Region,Segment,Industry,Product,Sales
0,1017,Chevron,2022-11-01,EMEA,SMB,Energy,Marketing Suite,261.9600
1,1017,Chevron,2022-11-01,EMEA,SMB,Energy,FinanceHub,731.9400
2,1056,Phillips 66,2022-06-01,AMER,Strategic,Energy,FinanceHub,14.6200
3,1031,Royal Dutch Shell,2021-10-01,EMEA,SMB,Energy,ContactMatcher,957.5775
4,1031,Royal Dutch Shell,2021-10-01,EMEA,SMB,Energy,Marketing Suite - Gold,22.3680

## Step 1.6 Exporting the cleaned data
### We export the cleaned data into cleaned_sales.csv file

In [43]:
df.to_csv("data/cleaned_sales.csv", index=False)